<!DOCTYPE html>
<html>
<head>
<title>GitHub Trend</title>
</head>
<body>
<p>Please enter an arbitrary GitHub username to be presented with a best guess of the GitHub user's favourite programming language<p>
</body>
</html>
